.MainGroup-AboutInfo_wrapper {
	display: flex;
	position: relative;
	min-height: 40vmin;
	flex-flow: row nowrap;
	justify-content: space-around;
	min-width: 180vmin;
}
.BodyDivisor_black {
	background-color:rgba(45, 45, 45, 1);
	width: 50%;
	height: 100vmin;
	max-height: 100vmin;
	flex-flow: row;
	display: flex;
}
.BodyDivisorBlack-TextItem_title {
	position:absolute;
	top:97%;
	left: 0.5vmin;
	font-size:14px;
	font-family:'Roboto', sans-serif;
	font-weight:800;
	color:rgba(45, 45, 45, 1);
	cursor: text;
	background-color: rgba(78, 178, 78, 1);
}
.frontImg {
	position: absolute;
	right: 5%;
	top: 85%;
	width: 22vmin;
	height: 30vmin;
	background-image: url('kr.png');
	background-repeat: no-repeat;
	transition: all 1400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.frontImg:hover {
	transform: translateY(-10vmin);
}
@media screen and (max-width: 968px) {
	.MainGroup-AboutInfo_wrapper {
		flex-flow: row-reverse;
		min-width: 100%;
		margin-top: 15vmin;
	}
	.BodyDivisor_black {
		width: 100%;
		max-height: 20vmin;
	}
	.BodyDivisorBlack-MainGroup {
		display: flex;
		flex-flow: column;
		align-items: center;
		min-height: 100vmin;
	}
	.BodyDivisorBlack-TextItem_title {
		position:fixed;
		top:97%;
	}
	.frontImg {
		position: fixed;
		transition: none;
		right: 0;
	}
}
@media screen and (max-width: 568px) {
	.MainGroup-AboutInfo_wrapper {
		flex-flow: column-reverse;
		min-height: 100%;
		min-width: 100%;
		margin-top: 15vmin;
		overflow-x: hidden;
	}
	.BodyDivisor_black {
		width: 100%;
		max-height: 40vmin;
	}
	.BodyDivisorBlack-MainGroup {
		display: flex;
		flex-flow: column;
		align-items: center;
		min-height: 100vmin;
		min-width: 100%;
	}
	.BodyDivisorBlack-TextItem_title {
		position: absolute;
		top: 40vmin;
		width: 100%;
		left: 0;
	}
	.frontImg {
		position: fixed;
		width: 50vmin;
		height: 50vmin;
		top: 83%;
		transition: none;
	}
}
